.data__div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 2rem 0rem;
    row-gap: 2rem;
    column-gap: 2rem;
    /* justify-items: center; */
}
.data__grids {
    box-shadow: var(--box-shadow);
}
.grid__Data {
    margin: 0.7rem;
}
.name {
    font-size: var(--font-small);
    font-weight: 600;
}
.cart__inp {
    cursor: pointer;
}
.cart__inp .icon:hover,
.cart__inp input:checked ~ .icon {
    color: var(--color-orange);
}
.cart__inp .icon:not(:hover),
.cart__inp input:checked ~ .icon {
    color: var(--color-grey);
}
.cart__inp input[type=radio]{
    display: none;
}
.icon {
    cursor: pointer;
    font-size: 2rem;
}
/* .starr {
    
} */
.data__img {
    width: 100%;
    height: 10rem;
}
.data__img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.cost__price {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.cost__price .old__price {
    font-size: var(--font-smallz);
    font-weight: 600;
    text-decoration: line-through;
}
.cost__price .new__price {
    font-size: var(--font-small);
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
    .data__div {
        grid-template-columns: repeat(2, 1fr);
    }
    .data__img {
        width: 100%;
        height: 17rem;
    }

    
}
@media screen and (max-width: 600px) {
    .data__div {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.3rem;
        column-gap: 1.3rem
    }
    .data__img {
        width: 100%;
        height: 9rem;
    }

     
    
}
@media screen and (width: 280px) {
    .data__div {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.3rem;
        column-gap: 1.3rem
    }
    .data__img {
        width: 100%;
        height: 12rem;
    }

}



